/* 
    -----------------------
       # Type: Page
       # Name: Services
    -----------------------
*/
.services-table {
    margin: 50px 0;
}

.services-table table {
    color: var(--dark-gray);
}

.services-table table thead {
    text-transform: uppercase;
    font: var(--med-a-size-bold);
}

.services-table table thead th {
    border-top: none;
}

.services-table table thead th .wrapper {
    position: relative;
    display: inline-block;
}

.services-table table tbody {
    font: var(--med-a-size-med);
}

.services-table table th {
    padding: 24px 24px 24px 12px !important;
}

.services-table table td {
    border-color: #dce0e8;
    vertical-align: middle;
    padding: 0 24px 0 12px;
    height: 103px;
}

.services-table table td .services-details {
    background-color: var(--main-green);
    padding: 10px 16px;
    border-radius: 25px;
    color: #fff;
    font: var(--small-size-med);
    transition: all 0.2s;
}

.services-table table td .services-details:hover {
    padding: 10px 20px;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    display: none;
}

div.dataTables_filter {
    display: none;
}

/* Table Pagination */
.services-table .pagination {
    margin: 25px auto 60px;
    display: flex;
    justify-content: center;
}

.services-table .pagination .navigation {
    display: flex;
}

.services-table .pagination .count {
    margin: 0 13px;
    font-family: var(--main-font-en);
    font-size: 11px;
    font-weight: 100;
    color: #6D7179;
}

.services-table .pagination .count small {
    font-size: 11px;
    font-weight: 100;
}

.services-table .pagination .count span {
    font-size: 18px;
    font-weight: 400;
    margin-right: 4px;
}

/* Sorting Arrows */
table.dataTable>thead .sorting:before,
table.dataTable>thead .sorting_asc:before,
table.dataTable>thead .sorting_desc:before,
table.dataTable>thead .sorting_asc_disabled:before,
table.dataTable>thead .sorting_desc_disabled:before {
    content: unset !important;
}

table.dataTable>thead .sorting:after,
table.dataTable>thead .sorting_asc:after,
table.dataTable>thead .sorting_desc:after,
table.dataTable>thead .sorting_asc_disabled:after,
table.dataTable>thead .sorting_desc_disabled:after {
    content: unset !important;
}

table.dataTable>thead .sorting .wrapper:before,
table.dataTable>thead .sorting_asc .wrapper:before,
table.dataTable>thead .sorting_desc .wrapper:before,
table.dataTable>thead .sorting_asc_disabled .wrapper:before,
table.dataTable>thead .sorting_desc_disabled .wrapper:before,
table.dataTable>thead .sorting .wrapper:after,
table.dataTable>thead .sorting_asc .wrapper:after,
table.dataTable>thead .sorting_desc .wrapper:after,
table.dataTable>thead .sorting_asc_disabled .wrapper:after,
table.dataTable>thead .sorting_desc_disabled .wrapper:after {
    font-family: 'FONT AWESOME 5 FREE';
    opacity: 0.3;
    position: absolute;
    top: 5px;
    right: -20px;
}

table.dataTable>thead .sorting .wrapper:before,
table.dataTable>thead .sorting_asc .wrapper:before,
table.dataTable>thead .sorting_desc .wrapper:before,
table.dataTable>thead .sorting_asc_disabled .wrapper:before,
table.dataTable>thead .sorting_desc_disabled .wrapper:before {
    content: "\f0de" !important;
}

table.dataTable>thead .sorting .wrapper:after,
table.dataTable>thead .sorting_asc .wrapper:after,
table.dataTable>thead .sorting_desc .wrapper:after,
table.dataTable>thead .sorting_asc_disabled .wrapper:after,
table.dataTable>thead .sorting_desc_disabled .wrapper:after {
    content: "\f0dd" !important;
}

table.dataTable>thead .sorting_asc .wrapper:before,
table.dataTable>thead .sorting_desc .wrapper:after {
    opacity: 1;
}

.page-header .page-tools {
    display: flex;
    justify-content: space-between;
}

.page-header .page-tools .button {
    padding: 11px 17px;
    border-radius: 50px;
    background-color: var(--main-green);
    color: var(--white);
    font: var(--small-size-semi-bold);
    line-height: 29px;
}

.service-details {
    margin: 36px 0 66px;
}