/* 
    -----------------------
       # Type: Page
       # Name: Contact
    -----------------------
*/
.contact-page .contact-form.default-form {
    background: #FCFCFC;
}

@media (max-width: 992px) {
    .contact-page .contact-form.default-form {
        background: var(--soft-gray);
    }

    .contact-page .contact-bar {
        padding: 20px 0 0;
    }
}