/* 
    -----------------------
       # Type: Component
       # Name: Footer
    -----------------------
*/
/* Chatbot */
.chatbot {
    background: #2B323C;
    min-width: 64px;
    height: 64px;
    padding: 0 20px;
    border-radius: 64px;
    position: fixed;
    bottom: 40px;
    z-index: 999;
    right: 40px;
    display: flex;
    align-items: center;
}

.chatbot span {
    font: var(--small-size-semi-bold);
    color: #fff;
    margin-left: 14px;
    display: none;
}

.chatbot:hover span {
    display: block;
}

footer {
    position: relative;
    text-align: right;
}

footer .main {
    background: var(--dark-blue);
    padding: 45px 0;
    position: relative;
}

footer .main .goUp {
    left: 40px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    cursor: pointer;
    z-index: 9;
}

footer .main .data {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

footer .main .data:last-of-type {
    margin-bottom: 0;
}

footer .main .data .text {
    margin-right: 8px;
}

footer .main .data .text h4 {
    font: var(--small-size-reg);
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 0;
}

footer .main .data .text span {
    color: #fff;
    font: var(--med-a-size-semi-bold);
    font-family: var(--main-font-en);
}

footer .main .quick-links .title {
    color: #fff;
    font: var(--large-b-size-bold);
    position: relative;
    line-height: 1;
}

footer .main .quick-links .title::after {
    content: '';
    position: absolute;
    width: 54px;
    background: #fff;
    height: 2px;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    left: -57px;
}

@media (min-width: 1400px) {
    footer .main .quick-links .title::after {
        width: 70px;
    }
}

footer .main .quick-links ul li {
    margin-bottom: 10px;
}

footer .main .quick-links ul li a {
    color: #fff;
    font: var(--small-size-med);
    transition: all 0.2s;
}

footer .main .quick-links ul li a:hover {
    color: var(--main-green);
}

footer .links-bar {
    background: var(--darker-blue);
    height: 80px;
    display: flex;
    align-items: center;
}

footer .links-bar menu a {
    color: #fff;
    font: var(--small-size-med);
    margin-left: 19px;
    transition: all 0.2s;
}

footer .links-bar menu a:hover {
    color: var(--main-green);
}

footer .links-bar menu a:last-of-type {
    margin-right: 0;
}

footer .social-accounts {
    display: inline-flex;
    float: left;
}

footer .social-accounts a {
    width: 44px;
    height: 44px;
    font-size: 21px;
    border-radius: 50%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    margin-right: 9px;
    transition: all 0.2s;
}

footer .social-accounts a:hover {
    background: var(--darkest-blue);
    color: #fff;
}

footer .social-accounts a:hover img.insta {
    display: none;
}

footer .social-accounts a:hover img.insta-white {
    display: block;
}

footer .social-accounts a img.insta-white {
    display: none;
}

.copywrights-bar {
    background: var(--darkest-blue);
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.5);
    height: 60px;
    font: var(--tiny-size-med);
}

/* 
    =================================================
    ================= Responsive ====================
    =================================================
*/
@media (min-width: 992px) and (max-width: 1200px) {
    footer .main .quick-links .title {
        font: var(--med-b-size-bold);
    }

    footer .main .data .text h4 {
        font: var(--tiny-size-reg);
    }

    footer .main .data .text span {
        font: var(--small-size-semi-bold);
    }

    footer .main .quick-links .title::after {
        display: none;
    }

    .copywrights-bar .col-lg-4 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    footer .links-bar .col-lg-6 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }
}

@media (max-width: 992px) {

    .chatbot {
        min-width: 56px;
        height: 56px;
        padding: 0 16px;
        bottom: 27px;
        right: 20px;
    }

    .chatbot span {
        font: var(--small-size-med);
        font-size: 13px;
    }

    footer .main,
    footer .main .quick-links,
    footer .main .goUp,
    footer .main>.container>.row>.col-lg-3 {
        transform: scale(1, -1);
    }

    footer .main .goUp {
        top: -218px;
        z-index: 9999 !important;
    }

    footer .main .goUp img {
        width: 32px;
        height: 32px;
    }

    footer .main .quick-links ul {
        margin-bottom: 0;
    }

    footer .main .quick-links .title {
        font: var(--med-b-size-bold);
        display: flex;
        align-items: center;
        margin-bottom: 17px;
    }

    footer .main .quick-links .title::after {
        width: 23px;
        position: unset;
        margin-right: 8px;
    }

    footer .main .data {
        margin-bottom: 0;
        margin-top: 16px;
    }

    footer .main .data img {
        width: 32px;
        height: 32px;
    }

    footer .main .data .text h4 {
        font: var(--tiny-size-reg);
    }

    footer .main .data .text span {
        font: var(--small-size-semi-bold);
        font-family: var(--main-font-en);
    }

    footer .links-bar {
        height: auto;
        padding: 24px 0;
    }

    footer .links-bar .col-lg-3 {
        width: auto !important;
    }

    footer .links-bar menu a {
        display: block;
        margin-right: 0;
        margin-bottom: 10px;
        font: var(--tiny-size-med);
    }

    footer .social-accounts a {
        width: 32px;
        height: 32px;
        font-size: 15px;
    }

    footer .social-accounts a img {
        width: 15px;
    }

    footer .social-accounts {
        display: inline-flex;
        float: left;
        margin-top: 17px;
    }

    .copywrights-bar {
        height: 40px;
        font: var(--mobile-size-med);
    }
}