/* 
    -----------------------
       # Type: Component
       # Name: Form
    -----------------------
*/
.default-form {
    padding: 64px 0;
    text-align: right;
}

.default-form .head h4 {
    font-size: 30px;
    color: var(--dark-gray);
    font-family: var(--main-font-ar);
    font-weight: 400;
    margin-bottom: 16px;
}

.default-form .head span {
    color: var(--dark-gray);
    font: var(--med-a-size-reg);
}

.default-form form {
    margin-top: 44px;
}

.default-form form .group {
    position: relative;
    margin-bottom: 45px;
    transition: all 0.2s;
}

.default-form form .group.typing {
    margin-top: 65px;
    margin-bottom: 70px;
}

.default-form form .group textarea,
.default-form form .group input {
    text-align: right;
    font-size: 18px;
    padding: 10px 10px 10px 0;
    display: block;
    height: 46px;
    transition: all 0.2s;
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--smooth-gray);
    color: var(--dark-gray);
    background: none;
    font: var(--small-size-med);
    overflow: hidden;
    resize: none;
}

.default-form form .group input[type="file"] {
    display: none;
}

.default-form form .group label {
    text-align: right;
    color: var(--dark-gray);
    font: var(--small-size-med);
    position: absolute;
    pointer-events: none;
    right: 0;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.default-form form .group label.file-selected,
.default-form form .group label.typing,
.default-form form .group textarea:focus~label,
.default-form form .group input:not([type="file"]):focus~label,
.default-form form .group input:not([type="file"]):valid~label {
    top: -20px;
    font-size: 14px;
    color: var(--main-green);
}

.default-form form .group .bar {
    position: relative;
    display: block;
    width: 100%;
}

.default-form form .group .bar:before,
.default-form form .group .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: var(--main-green);
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.default-form form .group .bar:before {
    left: 50%;
}

.default-form form .group .bar:after {
    right: 50%;
}

.default-form form .group textarea:focus~.bar:before,
.default-form form .group textarea:focus~.bar:after,
.default-form form .group input:focus~.bar:before,
.default-form form .group input:focus~.bar:after {
    width: 50%;
}

.default-form form button#send-message {
    background: var(--main-green);
    color: #fff;
    padding: 10px 70px;
    border-radius: 30px;
    font: var(--med-a-size-bold);
    float: right;
}

.default-form form button.slim {
    font: var(--small-size-med) !important;
    padding: 12px 24px !important;
}

.default-form form .group .help-block {
    position: absolute;
    margin: 2px 0 0;
    opacity: 0;
    font-size: 13px;
    font-family: var(--main-font-ar);
    font-weight: 100;
    color: var(--med-gray);
    bottom: -21px;
    transition: all 0.2s;
}

.default-form form .group.typing input~.help-block,
.default-form form .group textarea:focus~.help-block,
.default-form form .group textarea:valid~.help-block,
.default-form form .group input:focus~.help-block,
.default-form form .group input:valid~.help-block {
    opacity: 1;
}

.default-form form .group button {
    color: var(--dark-gray);
    font: var(--tiny-size-bold);
    text-decoration: underline;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

/* 
    =================================================
    ================= Responsive ====================
    =================================================
*/
@media (max-width: 992px) {
    .default-form .head h4 {
        font: var(--med-b-size-bold);
        letter-spacing: 0.92px;
        margin-bottom: 0;
    }

    .default-form .head span {
        font: var(--tiny-size-reg);
    }

    .default-form form button#send-message {
        font: var(--tiny-size-semi-bold);
        padding: 11px 24px;
    }
}